*{
	font-family: Garamond;
	font-size: 30px;
	color: gray;
	text-align: center;
	background-color: #F8F8F8;
}

img{
	border: 5px solid gray;
	border-radius: 6px;
	margin: 5%;
	margin-top: 40px;
	margin-bottom: 40px;
	display: inline-block;
	height: 250px;
	width: 250px;
}

a:hover{
	border: 4px purple;
	opacity: .5;
}

h1{
	font-size: 70px;
	text-align: center;
	margin-bottom: 0px;
}

h1:hover{
	color: purple;
}

h2{
	border: 6px solid gray;
	background-color: #F2F2F2;
	border-radius: 10px;
	margin-left: 25%;
	margin-right: 25%;
}

h3{
	font-variant: small-caps;
	margin-top: 20px;
	margin-bottom: 20px;

}

p{
	padding: 5%;
	border: 6px solid gray;
	background-color: #F2F2F2;
	border-radius: 10px;
	margin: 5%;
	

}


p:hover{
	border: 6px dotted purple;
}

h2:hover{
	border: 6px dotted purple;
}

footer{
	text-align: center;
	font-variant: small-caps;
	font-size: 10px;
	margin: 40%;
	background: none;
	margin-bottom: 0px;
}

